<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rheras.sesion08entregable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/tituloapp"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="@string/magiclifecounter"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".NormalActivity"
            android:label="@string/normal"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataSavesActivity"
            android:theme="@style/AppTheme"
            android:label="@string/partidasguardadas"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GigantActivity"
            android:label="@string/gigante"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".PlayActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".RegisterActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".DataSavesDetailActivity"
            android:label="@string/detailsofsavedmatch"
            android:parentActivityName=".DataSavesActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".CommanderActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
